:root{
        --vermelho: rgb(242, 1, 1);
        --vinho: rgb(83, 20, 28);
        --rosa: rgb(255, 185, 185);
        --vermelho-clarinho: rgb(220, 118, 126);
        --roxinho: rgb(174, 0, 255);
        --pretinho: rgb(0, 0, 0):
        --branco: rgb(255, 255, 255);
        --ont-family: "Exo 2", serif;
        --font-texto: "Oi", serif;
    }

  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--vermelho-clarinho);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  .container > .envelope-wrapper {
    background: var(--rosa);
    box-shadow: 0 0 40px var(--vermelho);
  }
  .envelope-wrapper > .envelope {
    position: relative;
    width: 350px;
    height: 250px;
  }
  .envelope-wrapper > .envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 130px solid var(--rosa);
    border-right: 175px solid transparent;
    border-left: 175px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
  }
  .envelope-wrapper > .envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 130px solid transparent;
    border-right: 175px solid var(--rosa);
    border-bottom: 120px solid var(--rosa);
    border-left: 175px solid var(--rosa);
  }
  .sincerely {
    text-align: right;
  }
  
  .envelope > .letter {
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background: var(--vermelho-clarinho);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--vermelho-clarinho);
    padding: 20px 10px;
  }
  
  .envelope > .letter > .text {
    font-family: "Caveat", cursive;
    font-style: normal;
    color: var(--txt-color);
    text-align: justify;
    font-size: 11px;
    padding-right: 2px;
  }
  
  .text strong {
    font-size: 12px;
  }
  
  .heart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: var(--vinho);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 1px 6px var(--vinho);
    cursor: pointer;
  }
  .heart:before, 
  .heart:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--vinho);
    border-radius: 50%;
  }
  .heart:before {
    top: -7.5px;
  }
  .heart:after {
    right: 7.5px;
  }
  .flap > .envelope:before {
    transform: rotateX(180deg);
    z-index: 0;
  }
  .flap > .envelope > .letter {
    bottom: 100px;
    transform: scale(1.5);
    transition-delay: 1s;
  }
  .flap > .heart {
    transform: rotate(90deg);
    transition-delay: 0.4s;
  }