@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oi&display=swap');

:root{
    --vermelho: rgb(242, 1, 1);
    --vinho: rgb(83, 20, 28);
    --rosa: rgb(255, 185, 185);
    --vermelho-clarinho: rgb(220, 118, 126);
    --roxinho: rgb(174, 0, 255);
    --pretinho: rgb(0, 0, 0):
    --branco: rgb(255, 255, 255);
    --font-family: "Exo 2", serif;
    --font-texto: "Oi", serif;
}

body{
    background-color: var(--vermelho-clarinho);
    font-family: var(--font-family);
    color: var(--pretinho);
    height: 100v;
}
header{
    background-color:var(--vermelho-clarinho);
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-texto);
    color:var(--vinho);
}

h2 {
    font-family: var(--font-texto);
    font-size: 2rem;
    color: var(--vinho);
    transform-origin: center;
    padding: 1.5rem 0;
}.img-pagina {
    width: 100%;
    border-radius: 10px;
}

.container-slide {
    width: 98.5vw;
    white-space: nowrap;
    overflow: hidden;
    margin: 2em 0;
}

.paginas-slide {
    display: inline-block;
    animation: anima 40s linear infinite;
}


.paginas-slide img, .paginas-slide2 img {
    width: 250px;
    border-radius: 15px;
}

#img-rotativo {
    width: 189px;
}

#img-rotativo2 {
    width: 189px;
}

@keyframes anima {
    0% { 
        transform: translateY(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

p{
    font-size: medium;
}

nav a{
    font-family: var(--fonte-family);
    text-decoration: flex ;
    justify-content: center;
    font-weight: 400;
}
nav a {
    text-decoration: none;
    color: var(--ro);
    font-size: 2rem;
    margin: 0 2rem 1rem 0 ;
}

.card{
    background-color: var(--vinho);
    color: var(--vermelho-clarinho);
    bottom: 2px;
}

a{
    color: var(--grape);
    text-decoration: none;
    font-size: 1rem;
}

a:hover {
    background-color: var(--);
    color: var(--vermelho);
    transition: 1s;
}

.footer{
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    font-family: var(--font-family);
    color: var(--roxinho);
    position: relative;
    margin: center;
}

